In [0]:
employee = spark.createDataFrame([
    (1, "Raju", 25, 101),
    (2, "Ramesh", 26, 101),
    (3, "Amrita", 30, 102),
    (4, "Madhu", 32, 102),
    (5, "Aditya", 28, 102),
    (6, "Vinay", 42, 103),
    (7, "Smita", 27, 103),
    (8, "Vinod", 28, 100)],["id", "name", "age", "deptid"])

department = spark.createDataFrame([
    (101, "IT", 1),
    (102, "ITES", 2),
    (103, "Opearation", 3),
    (104, "HRD", 4)])\
  .toDF("id", "deptname", "locationid")
  
location = spark.createDataFrame([
    (1, 'Hyderabad'),
    (2, 'Chennai'),
    (3, 'Bengalure'),
    (4, 'Pune')])\
  .toDF("locationid", "location")

In [0]:
employee.createOrReplaceTempView("emp")
department.createOrReplaceTempView("dept")
location.createOrReplaceTempView("loc")

In [0]:
%sql
select emp.*,dept.id,loc.location from emp
join dept on emp.deptid=dept.id
join loc on loc.locationid=dept.locationid

id,name,age,deptid,id,location
2,Ramesh,26,101,101,Hyderabad
1,Raju,25,101,101,Hyderabad
5,Aditya,28,102,102,Chennai
4,Madhu,32,102,102,Chennai
3,Amrita,30,102,102,Chennai
7,Smita,27,103,103,Bengalure
6,Vinay,42,103,103,Bengalure

In [0]:
%sql
select emp.*,dept.deptname,dept.id,dept.locationid,loc.locationid from emp
left join dept on emp.deptid=dept.id
left join loc on dept.locationid=loc.locationid

id,name,age,deptid,deptname,id,locationid,locationid
1,Raju,25,101,IT,101,1,1
2,Ramesh,26,101,IT,101,1,1
3,Amrita,30,102,ITES,102,2,2
4,Madhu,32,102,ITES,102,2,2
5,Aditya,28,102,ITES,102,2,2
6,Vinay,42,103,Opearation,103,3,3
7,Smita,27,103,Opearation,103,3,3
8,Vinod,28,100,null,null,null,null

In [0]:
df=employee.join(department,employee.deptid==department.id,"inner")\
  .join(location,department.locationid==location.locationid,"inner")
df.show()

+---+------+---+------+---+----------+----------+----------+---------+
| id|  name|age|deptid| id|  deptname|locationid|locationid| location|
+---+------+---+------+---+----------+----------+----------+---------+
|  2|Ramesh| 26|   101|101|        IT|         1|         1|Hyderabad|
|  1|  Raju| 25|   101|101|        IT|         1|         1|Hyderabad|
|  5|Aditya| 28|   102|102|      ITES|         2|         2|  Chennai|
|  4| Madhu| 32|   102|102|      ITES|         2|         2|  Chennai|
|  3|Amrita| 30|   102|102|      ITES|         2|         2|  Chennai|
|  7| Smita| 27|   103|103|Opearation|         3|         3|Bengalure|
|  6| Vinay| 42|   103|103|Opearation|         3|         3|Bengalure|
+---+------+---+------+---+----------+----------+----------+---------+

In [0]:
df=employee.join(department,employee.deptid==department.id,"left")\
  .join(location,department.locationid==location.locationid,"left")
df.show()

+---+------+---+------+----+----------+----------+----------+---------+
| id|  name|age|deptid|  id|  deptname|locationid|locationid| location|
+---+------+---+------+----+----------+----------+----------+---------+
|  1|  Raju| 25|   101| 101|        IT|         1|         1|Hyderabad|
|  2|Ramesh| 26|   101| 101|        IT|         1|         1|Hyderabad|
|  3|Amrita| 30|   102| 102|      ITES|         2|         2|  Chennai|
|  4| Madhu| 32|   102| 102|      ITES|         2|         2|  Chennai|
|  5|Aditya| 28|   102| 102|      ITES|         2|         2|  Chennai|
|  6| Vinay| 42|   103| 103|Opearation|         3|         3|Bengalure|
|  7| Smita| 27|   103| 103|Opearation|         3|         3|Bengalure|
|  8| Vinod| 28|   100|null|      null|      null|      null|     null|
+---+------+---+------+----+----------+----------+----------+---------+

In [0]:
df=employee.join(department,employee.deptid==department.id,"right")\
  .join(location,department.locationid==location.locationid,"right")
df.show()

+----+------+----+------+---+----------+----------+----------+---------+
|  id|  name| age|deptid| id|  deptname|locationid|locationid| location|
+----+------+----+------+---+----------+----------+----------+---------+
|   1|  Raju|  25|   101|101|        IT|         1|         1|Hyderabad|
|   2|Ramesh|  26|   101|101|        IT|         1|         1|Hyderabad|
|   3|Amrita|  30|   102|102|      ITES|         2|         2|  Chennai|
|   4| Madhu|  32|   102|102|      ITES|         2|         2|  Chennai|
|   5|Aditya|  28|   102|102|      ITES|         2|         2|  Chennai|
|   6| Vinay|  42|   103|103|Opearation|         3|         3|Bengalure|
|   7| Smita|  27|   103|103|Opearation|         3|         3|Bengalure|
|null|  null|null|  null|104|       HRD|         4|         4|     Pune|
+----+------+----+------+---+----------+----------+----------+---------+

In [0]:
df=employee.join(department,employee.deptid==department.id,"full")\
  .join(location,department.locationid==location.locationid,"full")
df.show()

+----+------+----+------+----+----------+----------+----------+---------+
|  id|  name| age|deptid|  id|  deptname|locationid|locationid| location|
+----+------+----+------+----+----------+----------+----------+---------+
|   8| Vinod|  28|   100|null|      null|      null|      null|     null|
|   1|  Raju|  25|   101| 101|        IT|         1|         1|Hyderabad|
|   2|Ramesh|  26|   101| 101|        IT|         1|         1|Hyderabad|
|   3|Amrita|  30|   102| 102|      ITES|         2|         2|  Chennai|
|   4| Madhu|  32|   102| 102|      ITES|         2|         2|  Chennai|
|   5|Aditya|  28|   102| 102|      ITES|         2|         2|  Chennai|
|   6| Vinay|  42|   103| 103|Opearation|         3|         3|Bengalure|
|   7| Smita|  27|   103| 103|Opearation|         3|         3|Bengalure|
|null|  null|null|  null| 104|       HRD|         4|         4|     Pune|
+----+------+----+------+----+----------+----------+----------+---------+

In [0]:
df=employee.join(department,employee.deptid==department.id,"anti")
df.show()

+---+-----+---+------+
| id| name|age|deptid|
+---+-----+---+------+
|  8|Vinod| 28|   100|
+---+-----+---+------+

In [0]:
df=employee.join(department,employee.deptid==department.id,"semi")
df.show()

+---+------+---+------+
| id|  name|age|deptid|
+---+------+---+------+
|  1|  Raju| 25|   101|
|  2|Ramesh| 26|   101|
|  3|Amrita| 30|   102|
|  4| Madhu| 32|   102|
|  5|Aditya| 28|   102|
|  6| Vinay| 42|   103|
|  7| Smita| 27|   103|
+---+------+---+------+

In [0]:
print([ table.name for table in spark.catalog.listTables()])

['dept', 'emp', 'loc']

In [0]:
%sql
select emp.*,dept.* from emp
cross join dept

id,name,age,deptid,id,deptname,locationid
1,Raju,25,101,101,IT,1
1,Raju,25,101,102,ITES,2
1,Raju,25,101,103,Opearation,3
1,Raju,25,101,104,HRD,4
2,Ramesh,26,101,101,IT,1
2,Ramesh,26,101,102,ITES,2
2,Ramesh,26,101,103,Opearation,3
2,Ramesh,26,101,104,HRD,4
3,Amrita,30,102,101,IT,1
3,Amrita,30,102,102,ITES,2
3,Amrita,30,102,103,Opearation,3
3,Amrita,30,102,104,HRD,4
4,Madhu,32,102,101,IT,1
4,Madhu,32,102,102,ITES,2
4,Madhu,32,102,103,Opearation,3
4,Madhu,32,102,104,HRD,4
5,Aditya,28,102,101,IT,1
5,Aditya,28,102,102,ITES,2
5,Aditya,28,102,103,Opearation,3
5,Aditya,28,102,104,HRD,4
6,Vinay,42,103,101,IT,1
6,Vinay,42,103,102,ITES,2
6,Vinay,42,103,103,Opearation,3
6,Vinay,42,103,104,HRD,4
7,Smita,27,103,101,IT,1
7,Smita,27,103,102,ITES,2
7,Smita,27,103,103,Opearation,3
7,Smita,27,103,104,HRD,4
8,Vinod,28,100,101,IT,1
8,Vinod,28,100,102,ITES,2
8,Vinod,28,100,103,Opearation,3
8,Vinod,28,100,104,HRD,4

In [0]:
%sql
select emp.*,dept.* from emp
cross join dept

id,name,age,deptid,id,deptname,locationid
1,Raju,25,101,101,IT,1
1,Raju,25,101,102,ITES,2
1,Raju,25,101,103,Opearation,3
1,Raju,25,101,104,HRD,4
2,Ramesh,26,101,101,IT,1
2,Ramesh,26,101,102,ITES,2
2,Ramesh,26,101,103,Opearation,3
2,Ramesh,26,101,104,HRD,4
3,Amrita,30,102,101,IT,1
3,Amrita,30,102,102,ITES,2
3,Amrita,30,102,103,Opearation,3
3,Amrita,30,102,104,HRD,4
4,Madhu,32,102,101,IT,1
4,Madhu,32,102,102,ITES,2
4,Madhu,32,102,103,Opearation,3
4,Madhu,32,102,104,HRD,4
5,Aditya,28,102,101,IT,1
5,Aditya,28,102,102,ITES,2
5,Aditya,28,102,103,Opearation,3
5,Aditya,28,102,104,HRD,4
6,Vinay,42,103,101,IT,1
6,Vinay,42,103,102,ITES,2
6,Vinay,42,103,103,Opearation,3
6,Vinay,42,103,104,HRD,4
7,Smita,27,103,101,IT,1
7,Smita,27,103,102,ITES,2
7,Smita,27,103,103,Opearation,3
7,Smita,27,103,104,HRD,4
8,Vinod,28,100,101,IT,1
8,Vinod,28,100,102,ITES,2
8,Vinod,28,100,103,Opearation,3
8,Vinod,28,100,104,HRD,4

In [0]:
from pyspark.sql.functions import broadcast

In [0]:
df=employee.join(broadcast(department),employee.deptid==department.id)
df.show()

+---+------+---+------+---+----------+----------+
| id|  name|age|deptid| id|  deptname|locationid|
+---+------+---+------+---+----------+----------+
|  1|  Raju| 25|   101|101|        IT|         1|
|  2|Ramesh| 26|   101|101|        IT|         1|
|  3|Amrita| 30|   102|102|      ITES|         2|
|  4| Madhu| 32|   102|102|      ITES|         2|
|  5|Aditya| 28|   102|102|      ITES|         2|
|  6| Vinay| 42|   103|103|Opearation|         3|
|  7| Smita| 27|   103|103|Opearation|         3|
+---+------+---+------+---+----------+----------+