In [0]:
data=([(1,'Jerry','Male','Finance',138705),
(2,'Larry','Male','IT',101004),
(3,'Dennis','Male','IT',115163),
(5,'Ruby','Female','HR',65476),
(4,'manasa','Female','Finance',45906),
(6,'Angela','Female','Sales',95570),
(7,'Frances','Female','HR',139852),
(8,'Louise','Female','HR',63241),
(9,'Julie','Female','IT',102508),
(10,'Brandon','Male','HR',112807),
(11,'Gary','Male','Sales',109831),
(12,'Kimberly','Female','Finance',	41426),
(13,'Lillian','Female','Finance',59414),
(14,'Jeremy','Male','Sales',90370)])

In [0]:
df=spark.createDataFrame(data,["id","Name","Gender","DEPt","Salary"])
df.show()

+---+--------+------+-------+------+
| id|    Name|Gender|   DEPt|Salary|
+---+--------+------+-------+------+
|  1|   Jerry|  Male|Finance|138705|
|  2|   Larry|  Male|     IT|101004|
|  3|  Dennis|  Male|     IT|115163|
|  5|    Ruby|Female|     HR| 65476|
|  4|  manasa|Female|Finance| 45906|
|  6|  Angela|Female|  Sales| 95570|
|  7| Frances|Female|     HR|139852|
|  8|  Louise|Female|     HR| 63241|
|  9|   Julie|Female|     IT|102508|
| 10| Brandon|  Male|     HR|112807|
| 11|    Gary|  Male|  Sales|109831|
| 12|Kimberly|Female|Finance| 41426|
| 13| Lillian|Female|Finance| 59414|
| 14|  Jeremy|  Male|  Sales| 90370|
+---+--------+------+-------+------+

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import sum,avg,max,min,count,col,expr,round
from pyspark.sql.functions import row_number,rank,dense_rank,lead,lag,ntile

In [0]:
window_spec=Window.partitionBy("DEPt")

In [0]:
df2=df.withColumn("Total",sum("Salary").over(window_spec))\
  .withColumn("Average",round(avg("Salary").over(window_spec),1))\
    .withColumn("Max",max("Salary").over(window_spec))
df2.show()

+---+--------+------+-------+------+------+--------+------+
| id|    Name|Gender|   DEPt|Salary| Total| Average|   Max|
+---+--------+------+-------+------+------+--------+------+
|  1|   Jerry|  Male|Finance|138705|285451| 71362.8|138705|
|  4|  manasa|Female|Finance| 45906|285451| 71362.8|138705|
| 12|Kimberly|Female|Finance| 41426|285451| 71362.8|138705|
| 13| Lillian|Female|Finance| 59414|285451| 71362.8|138705|
|  5|    Ruby|Female|     HR| 65476|381376| 95344.0|139852|
|  7| Frances|Female|     HR|139852|381376| 95344.0|139852|
|  8|  Louise|Female|     HR| 63241|381376| 95344.0|139852|
| 10| Brandon|  Male|     HR|112807|381376| 95344.0|139852|
|  2|   Larry|  Male|     IT|101004|318675|106225.0|115163|
|  3|  Dennis|  Male|     IT|115163|318675|106225.0|115163|
|  9|   Julie|Female|     IT|102508|318675|106225.0|115163|
|  6|  Angela|Female|  Sales| 95570|295771| 98590.3|109831|
| 11|    Gary|  Male|  Sales|109831|295771| 98590.3|109831|
| 14|  Jeremy|  Male|  Sales| 90370|295771| 98590.3|109831|
+---+--------+------+-------+------+------+--------+------+

In [0]:
window_spec=Window.partitionBy("DEPt").orderBy("Salary")

In [0]:
df3=df.withColumn("Row_number",row_number().over(window_spec))
df3.show()

+---+--------+------+-------+------+----------+
| id|    Name|Gender|   DEPt|Salary|Row_number|
+---+--------+------+-------+------+----------+
| 12|Kimberly|Female|Finance| 41426|         1|
|  4|  manasa|Female|Finance| 45906|         2|
| 13| Lillian|Female|Finance| 59414|         3|
|  1|   Jerry|  Male|Finance|138705|         4|
|  8|  Louise|Female|     HR| 63241|         1|
|  5|    Ruby|Female|     HR| 65476|         2|
| 10| Brandon|  Male|     HR|112807|         3|
|  7| Frances|Female|     HR|139852|         4|
|  2|   Larry|  Male|     IT|101004|         1|
|  9|   Julie|Female|     IT|102508|         2|
|  3|  Dennis|  Male|     IT|115163|         3|
| 14|  Jeremy|  Male|  Sales| 90370|         1|
|  6|  Angela|Female|  Sales| 95570|         2|
| 11|    Gary|  Male|  Sales|109831|         3|
+---+--------+------+-------+------+----------+

In [0]:
df4=df.withColumn("Rank",rank().over(window_spec))
df4.show()

+---+--------+------+-------+------+----+
| id|    Name|Gender|   DEPt|Salary|Rank|
+---+--------+------+-------+------+----+
| 12|Kimberly|Female|Finance| 41426|   1|
|  4|  manasa|Female|Finance| 45906|   2|
| 13| Lillian|Female|Finance| 59414|   3|
|  1|   Jerry|  Male|Finance|138705|   4|
|  8|  Louise|Female|     HR| 63241|   1|
|  5|    Ruby|Female|     HR| 65476|   2|
| 10| Brandon|  Male|     HR|112807|   3|
|  7| Frances|Female|     HR|139852|   4|
|  2|   Larry|  Male|     IT|101004|   1|
|  9|   Julie|Female|     IT|102508|   2|
|  3|  Dennis|  Male|     IT|115163|   3|
| 14|  Jeremy|  Male|  Sales| 90370|   1|
|  6|  Angela|Female|  Sales| 95570|   2|
| 11|    Gary|  Male|  Sales|109831|   3|
+---+--------+------+-------+------+----+

In [0]:
df5=df.withColumn("Dense_rank",dense_rank().over(window_spec))
df5.show()

+---+--------+------+-------+------+----------+
| id|    Name|Gender|   DEPt|Salary|Dense_rank|
+---+--------+------+-------+------+----------+
| 12|Kimberly|Female|Finance| 41426|         1|
|  4|  manasa|Female|Finance| 45906|         2|
| 13| Lillian|Female|Finance| 59414|         3|
|  1|   Jerry|  Male|Finance|138705|         4|
|  8|  Louise|Female|     HR| 63241|         1|
|  5|    Ruby|Female|     HR| 65476|         2|
| 10| Brandon|  Male|     HR|112807|         3|
|  7| Frances|Female|     HR|139852|         4|
|  2|   Larry|  Male|     IT|101004|         1|
|  9|   Julie|Female|     IT|102508|         2|
|  3|  Dennis|  Male|     IT|115163|         3|
| 14|  Jeremy|  Male|  Sales| 90370|         1|
|  6|  Angela|Female|  Sales| 95570|         2|
| 11|    Gary|  Male|  Sales|109831|         3|
+---+--------+------+-------+------+----------+

In [0]:
df4=df.withColumn("Lead",lead("Salary").over(window_spec))\
  .withColumn("Lag",lag("Salary").over(window_spec))
df4.show()

+---+--------+------+-------+------+------+------+
| id|    Name|Gender|   DEPt|Salary|  Lead|   Lag|
+---+--------+------+-------+------+------+------+
| 12|Kimberly|Female|Finance| 41426| 45906|  null|
|  4|  manasa|Female|Finance| 45906| 59414| 41426|
| 13| Lillian|Female|Finance| 59414|138705| 45906|
|  1|   Jerry|  Male|Finance|138705|  null| 59414|
|  8|  Louise|Female|     HR| 63241| 65476|  null|
|  5|    Ruby|Female|     HR| 65476|112807| 63241|
| 10| Brandon|  Male|     HR|112807|139852| 65476|
|  7| Frances|Female|     HR|139852|  null|112807|
|  2|   Larry|  Male|     IT|101004|102508|  null|
|  9|   Julie|Female|     IT|102508|115163|101004|
|  3|  Dennis|  Male|     IT|115163|  null|102508|
| 14|  Jeremy|  Male|  Sales| 90370| 95570|  null|
|  6|  Angela|Female|  Sales| 95570|109831| 90370|
| 11|    Gary|  Male|  Sales|109831|  null| 95570|
+---+--------+------+-------+------+------+------+

In [0]:
df7=df.withColumn("ntile",ntile(3).over(window_spec))
df7.show()

+---+--------+------+-------+------+-----+
| id|    Name|Gender|   DEPt|Salary|ntile|
+---+--------+------+-------+------+-----+
| 12|Kimberly|Female|Finance| 41426|    1|
|  4|  manasa|Female|Finance| 45906|    1|
| 13| Lillian|Female|Finance| 59414|    2|
|  1|   Jerry|  Male|Finance|138705|    3|
|  8|  Louise|Female|     HR| 63241|    1|
|  5|    Ruby|Female|     HR| 65476|    1|
| 10| Brandon|  Male|     HR|112807|    2|
|  7| Frances|Female|     HR|139852|    3|
|  2|   Larry|  Male|     IT|101004|    1|
|  9|   Julie|Female|     IT|102508|    2|
|  3|  Dennis|  Male|     IT|115163|    3|
| 14|  Jeremy|  Male|  Sales| 90370|    1|
|  6|  Angela|Female|  Sales| 95570|    2|
| 11|    Gary|  Male|  Sales|109831|    3|
+---+--------+------+-------+------+-----+

In [0]:
df5=df.withColumn("lead",lead("Salary",2,"null").over(window_spec))\
  .withColumn("lag",lag("Salary",2,0).over(window_spec))
df5.show()

+---+--------+------+-------+------+------+------+
| id|    Name|Gender|   DEPt|Salary|  lead|   lag|
+---+--------+------+-------+------+------+------+
| 12|Kimberly|Female|Finance| 41426| 59414|     0|
|  4|  manasa|Female|Finance| 45906|138705|     0|
| 13| Lillian|Female|Finance| 59414|  null| 41426|
|  1|   Jerry|  Male|Finance|138705|  null| 45906|
|  8|  Louise|Female|     HR| 63241|112807|     0|
|  5|    Ruby|Female|     HR| 65476|139852|     0|
| 10| Brandon|  Male|     HR|112807|  null| 63241|
|  7| Frances|Female|     HR|139852|  null| 65476|
|  2|   Larry|  Male|     IT|101004|115163|     0|
|  9|   Julie|Female|     IT|102508|  null|     0|
|  3|  Dennis|  Male|     IT|115163|  null|101004|
| 14|  Jeremy|  Male|  Sales| 90370|109831|     0|
|  6|  Angela|Female|  Sales| 95570|  null|     0|
| 11|    Gary|  Male|  Sales|109831|  null| 90370|
+---+--------+------+-------+------+------+------+

In [0]:
sampleData = (("Ram", 28, "Sales", 3000),
              ("Meena", 33, "Sales", 4600),
              ("Robin", 40, "Sales", 4100),
              ("Kunal", 25, "Finance", 3000),
              ("Ram", 28, "Sales", 3000),
              ("Srishti", 46, "Management", 3300),
              ("Jeny", 26, "Finance", 3900),
              ("Hitesh", 30, "Marketing", 3000),
              ("Kailash", 29, "Marketing", 2000),
              ("Sharad", 39, "Sales", 4100)
              )

In [0]:
df=spark.createDataFrame(sampleData,["Name","age","Dept","Salary"])
df.show()

+-------+---+----------+------+
|   Name|age|      Dept|Salary|
+-------+---+----------+------+
|    Ram| 28|     Sales|  3000|
|  Meena| 33|     Sales|  4600|
|  Robin| 40|     Sales|  4100|
|  Kunal| 25|   Finance|  3000|
|    Ram| 28|     Sales|  3000|
|Srishti| 46|Management|  3300|
|   Jeny| 26|   Finance|  3900|
| Hitesh| 30| Marketing|  3000|
|Kailash| 29| Marketing|  2000|
| Sharad| 39|     Sales|  4100|
+-------+---+----------+------+

In [0]:
window_part=Window.partitionBy("Dept").orderBy("Salary")

In [0]:
df1=df.withColumn("Row_Number",row_number().over(window_part))
df1.show()

+-------+---+----------+------+----------+
|   Name|age|      Dept|Salary|Row_Number|
+-------+---+----------+------+----------+
|  Kunal| 25|   Finance|  3000|         1|
|   Jeny| 26|   Finance|  3900|         2|
|Srishti| 46|Management|  3300|         1|
|Kailash| 29| Marketing|  2000|         1|
| Hitesh| 30| Marketing|  3000|         2|
|    Ram| 28|     Sales|  3000|         1|
|    Ram| 28|     Sales|  3000|         2|
|  Robin| 40|     Sales|  4100|         3|
| Sharad| 39|     Sales|  4100|         4|
|  Meena| 33|     Sales|  4600|         5|
+-------+---+----------+------+----------+

In [0]:
df2=df.withColumn("Rank",rank().over(window_part))
df2.show()

+-------+---+----------+------+----+
|   Name|age|      Dept|Salary|Rank|
+-------+---+----------+------+----+
|  Kunal| 25|   Finance|  3000|   1|
|   Jeny| 26|   Finance|  3900|   2|
|Srishti| 46|Management|  3300|   1|
|Kailash| 29| Marketing|  2000|   1|
| Hitesh| 30| Marketing|  3000|   2|
|    Ram| 28|     Sales|  3000|   1|
|    Ram| 28|     Sales|  3000|   1|
|  Robin| 40|     Sales|  4100|   3|
| Sharad| 39|     Sales|  4100|   3|
|  Meena| 33|     Sales|  4600|   5|
+-------+---+----------+------+----+

In [0]:
df3=df.withColumn("Dense_rank",dense_rank().over(window_part))
df3.show()

+-------+---+----------+------+----------+
|   Name|age|      Dept|Salary|Dense_rank|
+-------+---+----------+------+----------+
|  Kunal| 25|   Finance|  3000|         1|
|   Jeny| 26|   Finance|  3900|         2|
|Srishti| 46|Management|  3300|         1|
|Kailash| 29| Marketing|  2000|         1|
| Hitesh| 30| Marketing|  3000|         2|
|    Ram| 28|     Sales|  3000|         1|
|    Ram| 28|     Sales|  3000|         1|
|  Robin| 40|     Sales|  4100|         2|
| Sharad| 39|     Sales|  4100|         2|
|  Meena| 33|     Sales|  4600|         3|
+-------+---+----------+------+----------+

In [0]:
df4=df.withColumn("lead",lead("Salary",1).over(window_part))\
  .withColumn("lag",lag("Salary",1).over(window_part))
df4.show()

+-------+---+----------+------+----+----+
|   Name|age|      Dept|Salary|lead| lag|
+-------+---+----------+------+----+----+
|  Kunal| 25|   Finance|  3000|3900|null|
|   Jeny| 26|   Finance|  3900|null|3000|
|Srishti| 46|Management|  3300|null|null|
|Kailash| 29| Marketing|  2000|3000|null|
| Hitesh| 30| Marketing|  3000|null|2000|
|    Ram| 28|     Sales|  3000|3000|null|
|    Ram| 28|     Sales|  3000|4100|3000|
|  Robin| 40|     Sales|  4100|4100|3000|
| Sharad| 39|     Sales|  4100|4600|4100|
|  Meena| 33|     Sales|  4600|null|4100|
+-------+---+----------+------+----+----+